<h2>Eventos</h2>
<hr>

<div class="row g-3">
  <div class="col-auto">
    <label class="mr-2"for="find">Filtro: </label>
    <input
      id="find"
      type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="listFilter"
    >
  </div>
  <div class="col-auto">
  </div>
</div>
<p></p>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-primary btn-sm btn-outline-light" (click)="isCollapsed = !isCollapsed">
          <i class="{{!isCollapsed ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!isCollapsed ? 'Exibir Img' : 'Ocultar Img'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoa</th>
      <th>Lote</th>
      <th>Opçoes</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados" >
      <td>
        <img
          src="/assets/{{evento.imagemURL}}"
          alt=""
          [collapse]="!isCollapsed"
          [isAnimated]="true"
          [style.width.px]="widthImg"
          [style.margin.px]="margImg"
        >
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormat}}</td>
      <td>{{evento.qtdPessoa}}</td>
      <td>{{evento.lotes[0].nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm m-1" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm m-1" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento Encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Deletar Evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
